<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="Content-type"
      content="text/html; charset=UTF-8" />
      <title>Proxy servers for Pandora</title>
      <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag 'prototype', :juggernaut %>
      <%= active_scaffold_includes %>
  </head>
  <body>

  <%= juggernaut %>

<%= yield  %>

  </body>
</html>
